/PrimeiroProjetoJavaOO/nbproject/private/
/HelloWorld/nbproject/private/
/HelloWorld/build/
.DS_Store
/UniClima/nbproject/private/
/UniClima/build/
/Projeto-UniClima/Desenvolvimento_UniClima/dist/
/Projeto-UniClima/Desenvolvimento_UniClima/build/
